.worktrees/
.DS_Store

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

*.iml
.idea/

android/.gradle/
android/local.properties

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace/
